.btn{
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 2px 0;
    border: 2px solid black;
    background: linear-gradient(21deg, rgba(220, 64, 74, 0.55), rgba(239, 99, 206, 0.65));
    padding: 5px;
    border-radius: 25px;
}
.list > a {
 font-size: 13px;
    font-weight: bold;
}