.container {
    height: 100px;
    width: 400px;
    font-size: 40px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: papayawhip;
}

.red {
    background: lightcoral;
}

.red-text {
    color: darkred;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslategray;
}

.drakula {
    background: midnightblue;
}

.drakula-text {
    color: lightsteelblue;
}

.northernLights {
    background-color: cadetblue;
}

.northernLights-text {
    color: aquamarine;
}

