body {
    background-color: rgba(82, 168, 146, 0.34);
}

.title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    border-radius: 45px;
    font-family: Tahoma;
    color: #491149;
    background: linear-gradient(21deg, rgba(255, 71, 66, 0.3), rgba(139, 0, 139, 0.3));
    justify-content: center;
    margin: 10px auto;
}

.App {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    width: 100%;
}

.App > div {
    display: grid;
    align-items: flex-start;
    justify-content: center;
}
