.container {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    width: 390px;
}

.errorInput {
    border: 2px solid red;
}

.input {
    outline: none;
    border: 2px solid green;
}

.error {
    color: red;
    height: 20px
}

.title {
    font-weight: bold;
    font-size: 15px;
}